DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=your_username
DB_PASSWORD=your_password

JWT_SECRET=9GDUrUYCL5BwBxPB2FUxp0k0UU9sjc3O3Wlf2LQOP1yB9iSOiRY3N21JLTjfi252faCCOa6hi0N4vAjHqJVd1w==
JWT_EXPIRATION=900000               # 15 минут
JWT_REFRESH_EXPIRATION=604800000    # 7 дней